USE [master]
GO
/****** Object:  Database [JavaWCD]    Script Date: 5/17/2022 7:38:38 PM ******/
CREATE DATABASE [JavaWCD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JavaWCD', FILENAME = N'D:\Apps\SQLSERVER\director\MSSQL15.MSSQLSERVER\MSSQL\DATA\JavaWCD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JavaWCD_log', FILENAME = N'D:\Apps\SQLSERVER\director\MSSQL15.MSSQLSERVER\MSSQL\DATA\JavaWCD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JavaWCD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JavaWCD]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 5/17/2022 7:38:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [text] NULL,
	[Birthday] [text] NULL,
	[Address] [text] NULL,
	[Position] [text] NULL,
	[Department] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
